torch==2.9.1
transformers==4.57.1
datasets==3.6.0
accelerate==1.11.0
numpy==2.2.6
scikit-learn==1.8.0
scipy==1.17.0
pandas==2.3.3
tqdm==4.67.3

sentencepiece==0.2.1
safetensors==0.7.0
tokenizers==0.22.2

sglang==0.5.9
vllm==0.16.0

evalscope==1.4.2
jsonlines==4.0.0
pyyaml==6.0.3